<div class="page-width">
<p>{{section.settings.label}}<p>
<p>{{section.settings.id}}</p>
</div>

{% schema %}
  {
    "name": "Erste eigene Section!",
    "settings": [{
      "type": "text",
      "id": "mein_erstes_textfeld",
      "label": "Überschrift",
      "default": "Hey, ich bin dein erstes Textfeld"
}],
    "presets": [
      {
        "name": "Luca's first section",
        "category": "Custom"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}