<div class="page-width">
<h2 style="text-align: left">{{section.settings.mein_erstes_textfeld}}</h2>
  
<div class="fl-container">
{% for block in section.blocks %}  
  <div class="fl-item">
  <img src="{{block.settings.image | img_url: '2048x'}}" style="width: 200px;" alt="Trust-Image">
  <p class="fl-trust-text">{{block.settings.beschreibungstext}}</p>
  </div>
{% endfor %}
</div>
</div>

{% schema %}
  {
    "name": "Erste eigene Section",
    "max_blocks": 5,
    "settings": [{
      "type": "text",
      "id": "mein_erstes_textfeld",
      "label": "Überschrift",
      "default": "Hey, ich bin deine erste Überschrift"
}],
  "blocks": [
     {
       "name": "Bild-Text",
       "type": "custom",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
           "type": "text",
           "id": "beschreibungstext",
           "label": "Beschreibungstext",
           "default": "Dies ist ein Beschreibungstext"
         }
       ]
     }
   ],
    "presets": [
      {
        "name": "Erste eigene Section - Presets Titel",
        "category": "Custom"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}